.detail-quiz-container {
    display: flex;
    gap: 20px;
    padding: 50px;

    .left-content {
        width: 70%;
        border: 1px solid green;

        .title {
            font-size: 30px;
            font-weight: 600;
        }

        .q-content {
            .question {
                font-size: 20px;
                font-weight: 600;
            }

            .q-image {
                img {
                    width: 30%;
                }
            }
        }

        .footer {
            display: flex;
            justify-content: center;
            gap: 15px;
        }
    }

    .right-content {
        width: 30%;
        border: 1px solid red;
    }
}
